<form class="example-container" [formGroup]="bookingForm">
  <h1>Book Hotel</h1>
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <div *ngIf="bookingForm.controls.name.errors && isSubmitted" class="error-section">
    <mat-error *ngIf="bookingForm.controls.name.errors.required">Name is required</mat-error>
    <mat-error *ngIf="bookingForm.controls.name.errors.maxlength">Maximum Length Exceeded</mat-error>
  </div>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>
  <div *ngIf="bookingForm.controls.email.errors && isSubmitted">
    <mat-error *ngIf="bookingForm.controls.email.errors.required">Email is required</mat-error>
    <mat-error *ngIf="bookingForm.controls.email.errors.maxlength">Maximum Length Exceeded</mat-error>
    <mat-error *ngIf="!bookingForm.controls.email.errors.required && bookingForm.controls.email.invalid">Invalid Email
      Address</mat-error>
  </div>
  <mat-form-field>
    <mat-label>Room Type</mat-label>
    <mat-select formControlName="roomType">
      <mat-option value="Standard">Standard</mat-option>
      <mat-option value="Family">Family</mat-option>
      <mat-option value="Luxury">Luxury</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="bookingForm.controls.roomType.errors && isSubmitted" class="error-section">
    <mat-error *ngIf="bookingForm.controls.roomType.errors.required">Room Type is required</mat-error>
  </div>
  <mat-form-field>
    <input matInput placeholder="Check In Time" value="{{bookingForm.controls.checkIn.value | date: 'short'}}"
      (click)="checkInTrue = true">
  </mat-form-field>
  <div>
    <dl-date-time-picker *ngIf="checkInTrue" startView="day" maxView="year" minView="minute" minuteStep="59"
      formControlName="checkIn">
    </dl-date-time-picker>
  </div>
  <div *ngIf="bookingForm.controls.checkIn.errors && isSubmitted" class="error-section">
    <mat-error *ngIf="bookingForm.controls.checkIn.errors.required">Check In Time is required</mat-error>
  </div>
  <mat-form-field>
    <input matInput placeholder="Check Out Time" value="{{bookingForm.controls.checkOut.value | date: 'short'}}"
      (click)="checkOutTrue = true">
  </mat-form-field>
  <div>
    <dl-date-time-picker *ngIf="checkOutTrue" startView="day" maxView="year" minView="minute" minuteStep="59"
      formControlName="checkOut">
    </dl-date-time-picker>
  </div>
  <div *ngIf="bookingForm.controls.checkOut.errors && isSubmitted" class="error-section">
    <mat-error *ngIf="bookingForm.controls.checkOut.errors.required">Check Out Time is required</mat-error>
  </div>
  <div>
    <mat-checkbox class="example-margin" formControlName="pickup">Pickup Required</mat-checkbox>
  </div>
  <mat-form-field  *ngIf="bookingForm.controls.pickup.value === true">
    <textarea matInput placeholder="Pickup Address" formControlName="pickupAddress"></textarea>
  </mat-form-field>
  <div *ngIf="isSubmitted" class="error-section">
    <mat-error
      *ngIf="bookingForm.controls.pickup.value === true && bookingForm.controls.pickupAddress.value.trim() === ''">
      Pickup Address is required</mat-error>
  </div>
  <div class="button-section">
    <button mat-raised-button color="primary" (click)="createBooking()">Submit</button>
    <button mat-raised-button color="warn" (click)="cancelBooking()">Cancel</button>
  </div>
</form>